@use "../../styles/abstract/variables" as *;
@use "../../styles/abstract/mixins" as *;

.title{
  font-size: 35px;
  text-align: center;
  margin-bottom: 20px;
  -webkit-text-stroke: 1px gray;

  @include cardModel;
}
.container{
  display: flex;
  flex-wrap: wrap;
  gap: 10px;

}
.me{
  display: flex;
    flex-direction: column;
  position: relative;

  &__name{
    position: absolute;
    right: 5%;
    bottom: 50%;
    display: flex;
    flex-direction: column;
    @include cardModel;
    min-width: 150px;
    &--first{
      text-align: end;
    }

  }
  &__img{
    & img{
      width: 100%;
      border-radius: 25px;
      
    }
  }
}
.desc{
  @include cardModel;

}

@media screen and (min-width: 720px) {
  .container{
    gap: 20px;
    flex-wrap: nowrap;
    width: 80%;
    margin: auto;
  }
  .me{
    &__img{
      & img{
        max-height: 800px;
      }

    }
  .desc{
    flex: 1;
  }
    }
}