//color

$backgroundColor:
        linear-gradient(312deg, rgba(0,121,197,1) 18%, rgba(121,203,255,1) 53%, rgba(121,203,255,1) 77%, rgba(0,121,197,1) 100%);$primaryColor: rgb(0, 121, 197);
$secondaryColor:lighten($primaryColor, 35%) ;

//margin&padding
$margin: 1vh;
$padding: 1vh;
$paddingDesktop: 2vh;



