@use '../src/styles/abstract/variables' as *;
@use '../src/styles/global/typography' as *;

body {
  background: $backgroundColor no-repeat fixed;
  position: relative;
  margin: $margin;
}
li{
  color: $primaryColor;
  list-style-type: none;
}
a{
  color: $primaryColor;
  text-decoration: none;
}

.navBar{
  display: flex;
  justify-content: space-around;
  position: fixed;
  bottom: 0;
  margin: auto;
  width: 100%;
  z-index: 1;

  & Nav{
    width: 90%;


  }

}
@media screen and (min-width: 720px) {
  .navBar {
    position: sticky;
  top: 0;
  }
}
